<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CTRecorder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BD3208611C3EB9010026E9A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD32087A1C3EB9010026E9A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD3208851C3EB9010026E9A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
